<body>
        <link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Acme&display=swap" rel="stylesheet">
        <script>
        
            function a() {
                document.getElementById('img').innerText = document.getElementById('file').files[0].name
            }
        
        </script>
        
        <style>
            *{
                margin: 0;
                padding: 0;
            }
        
            body{
                font-family: Arial, Helvetica, sans-serif;
            }
        
            section{
                margin-top: 30px;
            }
        
            label:hover{
                color: blue;
            }
        
            footer{
                padding: 12px;
            }
        
            hr{
                margin: 4px;
            }
            
        </style>
        
        <div style="display: flex; flex-direction: column;">
            <header style="
                background-color: blue;
                justify-content: center;
                text-align: center;
                font-family: 'Tomorrow', sans-serif;
                padding: 20px;
                display: flex; 
                flex-direction: row;
                ">
                <img src="https://icon-library.net/images/data-model-icon/data-model-icon-10.jpg" style="width:80px; margin-right: 20px;"/>
                <h2 style="color: azure;" >Classifique aqui sua imagem</h2>
            </header>
        
            <section>
                <form 
                    action="savefile" 
                    method="POST" 
                    enctype="multipart/form-data" 
                    style="display: flex;
                        flex-direction: column;
                        align-items: center;">  
                    
                    
                    <label for="file" >
                        <p  id="img" style="
                            font-family: 'Tomorrow', sans-serif;
                            font-size: 35px;
                            ">
                            Selecione sua imagem
                        </p>
                    </label>
                    <input type="file" name="file" id="file" accept="image" onchange="a()" style="background-color: red; visibility: hidden;"/>
                    
                    
                    <input type="submit" value="Classificar" style="
                        background-color: blue;
                        color: white;
                        padding: 15px;
                        font-family: 'Tomorrow', sans-serif;
                        border-radius: 13px;
                    "/>
                    <p th:text="${erro}" ></p>  
                </form>
        
                <div style="display: flex; justify-content: center; margin-top: 105px;">
                    <p id="rel" style="
                    font-family: 'Acme', sans-serif;
                    font-size: 55px;"
                    th:text="${class}">
                    -</p>
                </div>
        
            </section>
            <footer style="position: fixed;
                left: 0;
                bottom: 0;
                width: 100%;
                background-color: blue;
                color: white;
                text-align: center;
                font-family: 'Tomorrow', sans-serif;
        " 
                   >
            
                <p>
                    Esta página pertence ao Trabalho de Conclusão de Curso intitulado: Módulo de Reconhecimento de Imagens Anômalas Baseado em Microsserviços - TCC2
                    <br/>
                    Seu objetivo é viabilizar a classificação de imagens anômalas ao contexto da construção civil
                    <hr/>
                <p>Desenvolvido por: Rafael Boniolo - 2019 | Ciência da Computação</p>
                <p>Orientado por: Ms. Anderson Brilhador - 2019 | Ciência da Computação</p>
            </footer>
        </div>
        
</body>